<div id="wrap">
<div class="navbar navbar-inverse" style="margin-bottom: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand logo"></div>
    </div>
    <div class="navbar-collapse collapse navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="login" routerLinkActive="active">Login</a>
      </li>
    </ul>
    </div>
  </div>
</div>
<div class="navbar navbar-default">
  <div class="container">
    <div class="col-sm-3 col-sm-1">
    </div>
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav" *ngFor="let menu of menus">
      <li class="{{selectedMenu == menu ? 'active' : ''}}">
        <a href="#" (click)="openMenu(menu)">{{menu.nameEn}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li>
        <a href="#">clinical trials</a>
      </li>
    </ul>
  </div>
</div>
  <app-section-menu [menu]="selectedMenu"></app-section-menu>
</div>
